@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colores */
/* mixin con parametros */
::selection {
  background-color: #f2c6c2;
}

.boton {
  color: #003823;
  font-size: 20px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #003823;
  background: #fefde7;
  padding: 5px 30px;
}
.boton:hover {
  background: #003823;
  color: #fefde7;
  transition: 0.5s;
  cursor: pointer;
}

footer {
  width: 100%;
  background: #003823;
  color: #fefde7;
  padding-bottom: 10px;
}
footer h3 {
  color: #fefde7;
}

.subir {
  border-top: 1px solid #003823;
  width: 100%;
  height: 48px;
  background-color: #fefde7;
  margin-bottom: 30px;
  align-content: center;
}
.subir a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.subir a img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.subir a p {
  color: #003823;
  font-size: 20px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.secciones-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 7% 20px;
  gap: 10px;
}

.menu-footer {
  width: 300px;
  justify-items: center;
}

.nav-footer ul {
  font-size: 16px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: disc;
  text-align: left;
  padding-left: 30px;
}
.nav-footer ul li a {
  text-decoration: none;
  color: #fefde7;
  padding: 5px;
  display: block;
}

.info-footer {
  width: 300px;
}
.info-footer p {
  text-align: center;
  font-size: 20px;
}

.redes-footer {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 10px;
}

.logo-footer {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.icono-redes {
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icono-redes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer p {
  color: #fefde7;
  text-align: center;
}

.navbar-logo img {
  width: 60px;
  height: 60px;
}

.navbar {
  padding: 0;
  color: #003823;
  font-size: 20px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px 7%;
  box-shadow: 0px 0px 5px 0 #003823;
}

.bg-color-navbar {
  background: rgba(134, 166, 157, 0.2);
}

.navbar-toggler {
  border: none;
  color: #003823;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.offcanvas-header {
  color: #003823;
}

.offcanvas-body form {
  padding-left: 60px;
}
.offcanvas-body form input {
  width: 400px;
  border: 1px solid #003823;
  border-radius: 20px;
  padding-left: 20px;
}
.offcanvas-body form input.focus-ring {
  box-shadow: none;
  border: 1px solid #003823;
}
.offcanvas-body form button {
  background: #fefde7;
  font-size: 18px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #003823;
  border: 1px solid #003823;
  border-radius: 20px;
  padding: 5px 20px;
}
.offcanvas-body form button:hover {
  background: #003823;
  color: #fefde7;
}
.offcanvas-body ul li a {
  color: #003823;
}
.offcanvas-body ul li a:hover {
  color: #f2c6c2;
}
.offcanvas-body .nav-link-active {
  color: #f2c6c2;
  text-decoration: none;
}

/* títulos*/
h1,
h2 {
  color: #003823;
  font-size: 24px;
  font-family: "Kalam";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* subtitulos */
h3,
h4 {
  color: #003823;
  font-size: 20px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* parrrafos */
p {
  color: #003823;
  font-size: 16px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bienvenida {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin: 20px 7%;
}

.logotipo-bienvenida {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.contenedor-bienvenida {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 20px;
}
.contenedor-bienvenida p {
  font-size: 20px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.img-bienvenida {
  width: 70%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
}

/* testimonios */
.seccion-testimonio {
  width: 100%;
  background: rgba(134, 166, 157, 0.2);
  padding: 20px 7%;
  margin-bottom: 20px;
}
.seccion-testimonio h2 {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.carrusel-testimonio {
  height: 200px;
  display: flex;
  justify-content: center;
}

.card-testimonio {
  width: 300px;
  height: 180px;
  border-top: 3px solid #003823;
  border-bottom: 3px solid #003823;
  text-align: center;
  padding: 10px 20px 10px;
  position: absolute;
  opacity: 0;
  animation: carrusel-testimonio 15s infinite linear;
}
.card-testimonio:nth-child(1) {
  animation-delay: 0s;
}
.card-testimonio:nth-child(2) {
  animation-delay: 5s;
}
.card-testimonio:nth-child(3) {
  animation-delay: 10s;
}

@keyframes carrusel-testimonio {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.usuario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 0 10px;
}
.usuario img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.usuario h3 {
  margin-bottom: 0;
}

.sobremi {
  height: 550px;
  display: flex;
  justify-content: space-evenly;
  margin: 16px;
  gap: 10px;
}
.sobremi img {
  width: 30%;
  height: 550px;
  object-fit: cover;
  border-radius: 20px;
}

.intro-sobremi {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.miformacion {
  background: rgba(134, 166, 157, 0.2);
  height: 100%;
  padding: 20px 7%;
}

.seccion-tratamiento {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 7%;
}
.seccion-tratamiento h2 {
  width: 100%;
  text-align: center;
}
.seccion-tratamiento article {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}

.tratamiento {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
  padding: 20px 0;
}
.tratamiento img {
  width: 30px;
  object-fit: cover;
}
.tratamiento p {
  font-size: 20px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.titulo-tienda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.titulo-tienda img {
  width: 120px;
  height: 45px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: sandia;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-delay: 1s;
}
@keyframes sandia {
  0% {
    transform: none;
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  100% {
    transform: none;
  }
}
.titulo-tienda h1 {
  margin-bottom: 0;
}

.recetarios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 16px 30px;
  gap: 20px;
}

.card-recetario {
  width: 300px;
  background: rgba(134, 166, 157, 0.2);
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  transition: 0.5s;
  box-shadow: 0px 0px 5px 0 #003823;
  z-index: 1;
}
.card-recetario h2 {
  font-size: 20px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-recetario:hover {
  background-color: #f2c6c2;
}
.card-recetario img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  padding: 10px;
  transition: 0.5s;
}
.card-recetario img:hover {
  height: 300px;
}
.card-recetario span {
  color: #fefde7;
  font-family: "Asap Condensed";
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(214, 26, 26);
  padding: 5px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 5px;
}
.card-recetario span:hover {
  font-size: 18px;
}

.seccion-consultaonline {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.img-consultaonline {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  margin: 20px 7%;
}

.contenedor-consultaonline {
  background-color: rgba(255, 255, 255, 0.9019607843);
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  z-index: 1;
}

/* COMO FUNCIONA*/
.consulta-comofunciona {
  background: rgba(134, 166, 157, 0.2);
  padding: 20px 7%;
  display: flex;
  flex-direction: column;
}
.consulta-comofunciona ul {
  font-size: 16px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: decimal;
  text-align: left;
}
.consulta-comofunciona ul li {
  text-decoration: none;
  color: #003823;
  padding: 10px;
}

.boton-consultaonline {
  align-self: center;
}

.titulo-ventajas {
  text-align: center;
  padding: 30px 0;
}

/*      VENTAJAS-GRID    */
.seccion-ventajas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 20px 7%;
  gap: 50px;
}

.box-ventaja {
  text-align: center;
}
.box-ventaja img {
  width: 100%;
  object-fit: cover;
}

.tarifa {
  display: flex;
  justify-content: center;
  margin: 0 16px 30px;
}

.contenedor-tarifa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid #003823;
  background: rgba(134, 166, 157, 0.2);
}
.contenedor-tarifa h2 {
  width: 100%;
  background-color: #fefde7;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #003823;
  padding: 5px 0;
}
.contenedor-tarifa h3 {
  font-size: 50px;
  text-align: center;
}
.contenedor-tarifa button {
  width: 100%;
}

/* PREGUNTAS FRECUENTES */
.titulo-preguntas {
  text-align: center;
  padding: 20px 0 0;
}

.accordion {
  --bs-accordion-color: $color-principal;
  --bs-accordion-active-bg: $color-bg;
  --bs-accordion-active-color: $color-principal;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-border-color: none;
  --bs-accordion-btn-padding-x: 7%;
  --bs-accordion-btn-padding-y: 10px;
  --bs-accordion-body-padding-x: 7%;
}
.accordion h2 button {
  color: #003823;
  font-size: 18px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.accordion-body {
  color: #003823;
  font-size: 16px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacto {
  text-align: center;
  background: rgba(134, 166, 157, 0.2);
  padding: 20px 7%;
  margin: 20px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}

/* FORMULARIO DE CONTACTO */
.formulario-contacto {
  width: 60%;
}

.datos-formulario {
  padding: 0 0 20px;
}

.contenedor-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
}
.contenedor-inputs label {
  width: 70px;
  height: 40px;
  color: #003823;
  font-size: 16px;
  font-family: "Asap Condensed";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 0;
  align-content: center;
  text-align: left;
}
.contenedor-inputs input {
  width: 100%;
  border: 1px solid #003823;
  border-radius: 20px;
  padding-left: 20px;
  font-family: "Asap Condensed";
  font-size: 12px;
}

#message {
  width: 100%;
  height: 200px;
  border: 1px solid #003823;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Asap Condensed";
  font-size: 12px;
}

.formulario-botones {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
  gap: 10px;
}

/* navbar */
@media (max-width: 768px) {
  .offcanvas-body form {
    padding-left: 0;
    padding-bottom: 20px;
  }
}
/* index */
@media (max-width: 480px) {
  .img-bienvenida {
    display: none;
  }
  .logotipo-bienvenida {
    width: 265px;
    align-self: center;
  }
  .contenedor-bienvenida {
    width: 265px;
    align-items: center;
    align-self: center;
  }
  .contenedor-bienvenida p {
    text-align: center;
  }
}
/* sobre mi */
@media (max-width: 768px) {
  .sobremi {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .sobremi img {
    width: 90%;
    height: 300px;
  }
  .intro-sobremi {
    width: 90%;
  }
  .intro-sobremi h1,
  .intro-sobremi h2 {
    font-size: 20px;
  }
}
/* contacto */
@media (max-width: 768px) {
  .formulario-contacto {
    width: 100%;
  }
}
/* footer */
@media (max-width: 320px) {
  .info-footer p {
    text-align: left;
  }
  .redes-footer {
    align-items: flex-start;
  }
  .icono-redes {
    justify-content: flex-start;
  }
  footer p {
    text-align: left;
    margin: 0 7%;
  }
}

/*# sourceMappingURL=style.css.map */
