.boton {
  color: $color-principal;
  @include texto(20px, "Asap Condensed Medium", normal, 500, normal);
  text-align: center;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $color-principal;
  background: $color-secundario;
  padding: 5px 30px;

  &:hover {
    background: $color-principal;
    color: $color-secundario;
    transition: 0.5s;
    cursor: pointer;
  }
}
