footer {
  width: 100%;
  background: $color-principal;
  color: $color-secundario;
  padding-bottom: 10px;

  h3 {
    color: $color-secundario;
  }
}

.subir {
  border-top: 1px solid $color-principal;
  width: 100%;
  height: 48px;
  background-color: $color-secundario;
  margin-bottom: 30px;
  align-content: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    & img {
      @include img(40px, 40px, cover);
    }

    & p {
      color: $color-principal;
      @include texto(20px, "Asap Condensed Medium", normal, 500, normal);
      margin-bottom: 0;
    }
  }
}

.secciones-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 7% 20px;
  gap: 10px;
}

.menu-footer {
  width: 300px;
  justify-items: center;
}

.nav-footer ul {
  @include texto(16px, "Asap Condensed", normal, 400, normal);
  list-style-type: disc;
  text-align: left;
  padding-left: 30px;

  li a {
    text-decoration: none;
    color: $color-secundario;
    padding: 5px;
    display: block;
  }
}

.info-footer {
  width: 300px;

  p {
    text-align: center;
    font-size: 20px;
  }
}

.redes-footer {
  width: 300px;
  @include flex(column, none, center);
  gap: 10px;
}

.logo-footer {
  @include img(80px, 80px, cover);
}

.icono-redes {
  @include img(30px, 30px, cover);
  @include flex(none, center, center);
  gap: 10px;

  img {
    @include img(100%, 100%, cover);
  }
}

footer p {
  color: $color-secundario;
  text-align: center;
}
