.navbar-logo img {
  width: 60px;
  height: 60px;
}

.navbar {
  padding: 0;
  color: $color-principal;
  @include texto(20px, "Asap Condensed Medium", normal, 500, normal);
  padding: 5px 7%;
}

.bg-color-navbar {
  background: $color-bg;
}

.navbar-toggler {
  border: none;

  &:focus {
    box-shadow: none;
  }
}

.navbar-toggler-icon {
  color: $color-principal;
}
