.navbar-logo img {
  width: 60px;
  height: 60px;
}

.navbar {
  padding: 0;
  color: $color-principal;
  @include texto(20px, "Asap Condensed", normal, 500, normal);
  padding: 5px 7%;
  box-shadow: 0px 0px 5px 0 $color-principal;
}

.bg-color-navbar {
  background: $color-bg;
}

.navbar-toggler {
  border: none;
  color: $color-principal;

  &:focus {
    box-shadow: none;
  }
}

.offcanvas-header {
  color: $color-principal;
}

.offcanvas-body {
  form {
    padding-left: 60px;

    input {
      width: 400px;
      border: 1px solid $color-principal;
      border-radius: 20px;
      padding-left: 20px;

      &.focus-ring {
        box-shadow: none;
        border: 1px solid $color-principal;
      }
    }

    button {
      background: $color-secundario;
      @include texto(18px, "Asap Condensed", normal, 500, normal);
      color: $color-principal;
      border: 1px solid $color-principal;
      border-radius: 20px;
      padding: 5px 20px;

      &:hover {
        background: $color-principal;
        color: $color-secundario;
      }
    }
  }
  ul li a {
    color: $color-principal;

    &:hover {
      color: $color-terciario;
    }
  }
}
