/* títulos*/

h1,
h2 {
  color: #003823;
  font-family: Kalam;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* subtitulos */

h3,
h4 {
  color: #003823;
  font-family: "Asap Condensed Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* parrrafos */

p {
  color: #003823;
  font-family: "Asap Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
