/* títulos*/

h1,
h2 {
  color: $color-principal;
  @include texto(24px, "Kalam", normal, 700, normal);
}

/* subtitulos */

h3,
h4 {
  color: $color-principal;
  @include texto(20px, "Asap Condensed", normal, 600, normal);
}

/* parrrafos */

p {
  color: $color-principal;
  @include texto(16px, "Asap Condensed", normal, 400, normal);
}
