/* mixin con parametros */

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}


@mixin img($width, $height, $object){
  width: $width;
  height: $height;
  object-fit: $object;
}

@mixin texto($size, $family, $style, $grosor, $line-height) {
  font-size: $size;
  font-family: $family;
  font-style: $style;
  font-weight: $grosor;
  line-height: $line-height;
}

::selection {
  background-color: $color-terciario;
}
