.seccion-consultaonline {
  height: 350px;
  width: 100%;
  @include flex (column, center, center);
  margin: 20px 0;
  position: relative;
}

.img-consultaonline {
  @include img(100%, 100%, cover);
  position: absolute;
  margin: 20px 7%;
}

.contenedor-consultaonline {
  background-color: #ffffffe6;
  @include flex (column, none, center);
  padding: 10px;
  border-radius: 20px;
  z-index: 1;
}

/* COMO FUNCIONA*/

.consulta-comofunciona {
  background: $color-bg;
  padding: 20px 7%;
  display: flex;
  flex-direction: column;

  ul {
    @include texto(16px, "Asap Condensed", normal, 400, normal);
    list-style-type: decimal;
    text-align: left;
    padding: 20px;

    li {
      text-decoration: none;
      color: $color-principal;
      padding: 10px;
    }
  }
}

.boton-consultaonline {
  align-self: center;
}

.titulo-ventajas {
  text-align: center;
  padding: 30px 0;
}

/*      VENTAJAS-GRID    */

.seccion-ventajas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 20px 7%;
  gap: 50px;
}

.box-ventaja {
  text-align: center;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.tarifa {
  display: flex;
  justify-content: center;
  margin: 0 16px 30px;
}

.contenedor-tarifa {
  @include flex (column, space-between, none);
  width: 300px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid $color-principal;
  background: $color-bg;

  h2 {
    width: 100%;
    background-color: $color-secundario;
    text-align: center;
    border-radius: 20px;
    border: 1px solid $color-principal;
    padding: 5px 0;
  }

  h3 {
    font-size: 50px;
    text-align: center;
  }

  button {
    width: 100%;
  }
}
