/* PREGUNTAS FRECUENTES */

.titulo-preguntas {
  text-align: center;
  padding: 20px 0 0;
}

.accordion {
  --bs-accordion-color: $color-principal;
  --bs-accordion-active-bg: $color-bg;
  --bs-accordion-active-color: $color-principal;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-border-color: none;
  --bs-accordion-btn-padding-x: 7%;
  --bs-accordion-btn-padding-y: 10px;
  --bs-accordion-body-padding-x: 7%;

  h2 {
    @include texto(20px, "Asap Condensed Medium", normal, 500, normal);

    & button {
      color: $color-principal;
    }
  }
}

.accordion-body {
  color: $color-principal;
  @include texto(16px, "Asap Condensed", normal, 400, normal);
}

.contacto {
  text-align: center;
  background: $color-bg;
  padding: 20px 7%;
  margin: 20px 0 30px;
  @include flex(column, none, center);
}

/* FORMULARIO DE CONTACTO */

.formulario-contacto {
  width: 60%;
}

.datos-formulario {
  padding: 0 0 20px;
}

.contenedor-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;

  label {
    width: 70px;
    height: 40px;
    color: $color-principal;
    @include texto(16px, "Asap Condensed Medium", normal, 500, normal);
    padding: 20px 0;
    align-content: center;
    text-align: left;
  }

  input {
    width: 100%;
    border: 1px solid $color-principal;
    border-radius: 20px;
    padding-left: 20px;
    font-family: "Asap Condensed";
    font-size: 12px;
  }
}

#message {
  width: 100%;
  height: 200px;
  border: 1px solid $color-principal;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Asap Condensed";
  font-size: 12px;
}

.formulario-botones {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
  gap: 10px;
}
