.bienvenida {
  @include flex (column, space-between, flex-start);
  position: relative;
  margin: 20px 7%;
}

.logotipo-bienvenida {
  @include img(50%, 100%, cover);
}

.contenedor-bienvenida {
  width: 50%;
  @include flex (column, space-between, flex-start);
  padding: 10px;
  margin-bottom: 20px;

  p {
    @include texto(20px, "Asap Condensed", normal, 500, normal);
  }
}

.img-bienvenida {
  @include img(70%, 100%, cover);
  position: absolute;
  right: 0;
}

/* testimonios */

.seccion-testimonio {
  width: 100%;
  background: $color-bg;
  padding: 20px 7%;
  margin-bottom: 20px;

  h2 {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
}

.carrusel-testimonio { 
  height: 200px;
  display: flex;
  justify-content: center;
}

.card-testimonio {
  width: 300px;
  height: 180px;
  border-top: 3px solid $color-principal;
  border-bottom: 3px solid $color-principal;
  text-align: center;
  padding: 10px 20px 10px;
  position: absolute;
  opacity: 0;
  animation: carrusel-testimonio 15s infinite linear;
  &:nth-child(1) {
    animation-delay: 0s;
  }
  &:nth-child(2) {
    animation-delay: 5s;
  }
  &:nth-child(3) {
    animation-delay: 10s;
  }
}

@keyframes carrusel-testimonio{
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }
}

.usuario {
  @include flex (row, center, center);
  gap: 30px;
  padding: 0 0 10px;

  img {
    @include img(50px, 50px, cover);
  }

  h3{
    margin-bottom: 0;
  }
}