.sobremi {
  height: 550px;
  display: flex;
  justify-content: space-evenly;
  margin: 16px;
  gap: 10px;

  img {
    @include img(30%, 550px, cover);
    border-radius: 20px;
  }
}

.intro-sobremi {
  width: 50%;
  @include flex (column, center, center);
  text-align: center;
}

.miformacion {
  background: $color-bg;
  height: 100%;
  padding: 20px 7%;
}

.areas-tratamiento {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;

  h2 {
    width: 100%;
    text-align: center;
  }

  article {
    width: 400px;
    @include flex (column, none, center);
  }
  

  ul {
    @include texto(20px, "Asap Condensed", normal, 400, normal);

    li {
      text-decoration: none;
      color: $color-principal;
      display: block;
      padding: 5px 0;
    }
  }
}
